# Byte-compiled / optimized / DLL files
/WMH_old/code/__pycache__/
*__pycache__/
*.py[cod]

# Dataset
/RUNDMC

# Saved npy datasets (train, test)
/WMH_new/datasets

# Model checkpoints
/WMH_new/checkpoints

/WMH_old/material
/WMH_old/train_and_test
/WMH_old/exploit